@model eBusiness.Areas.Admin.ViewModels.MasterServiceViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row mb-3">
    <div class="col-12">
        <div class="text-start">
            <h1 class="fw-bolder">Edit Service</h1>
        </div>
    </div>
</div>

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MasterServiceId" />
    <input type="hidden" asp-for="CreateUser" />
    <input type="hidden" asp-for="CreateDate" />
    <div class="row m-0">
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterServiceIcon" class="form-label"></label>
                <input asp-for="MasterServiceIcon" class="form-control" />
                <span asp-validation-for="MasterServiceIcon" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterServiceTitle" class="form-label"></label>
                <input asp-for="MasterServiceTitle" class="form-control" />
                <span asp-validation-for="MasterServiceTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterServiceUrl" class="form-label"></label>
                <input asp-for="MasterServiceUrl" class="form-control" />
                <span asp-validation-for="MasterServiceUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterServiceDescription" class="form-label"></label>
                <textarea asp-for="MasterServiceDescription" class="form-control"></textarea>
                <span asp-validation-for="MasterServiceDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterServiceFile" class="form-label"></label>
                <input asp-for="MasterServiceFile" class="form-control" onchange="previewImage(this)" />
                <span asp-validation-for="MasterServiceFile" class="text-danger"></span>
                <input type="hidden" asp-for="MasterServiceImageUrl" />
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <div class="mt-3">
                    <img id="preview" src="@(string.IsNullOrEmpty(Model.MasterServiceImageUrl) ? "" : Url.Content("~/Pictures/MasterService/" + Model.MasterServiceImageUrl))"
                         class="img-thumbnail" style="max-height: 70px; max-width:70px;" alt="Service Image" />
                </div>
            </div>
        </div>
        @* <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterServiceFile" class="form-label"></label>
                <input asp-for="MasterServiceFile" class="form-control" />
                <span asp-validation-for="MasterServiceFile" class="text-danger"></span>
                <input type="hidden" asp-for="MasterServiceImageUrl" class="form-control" />
            </div>
        </div> *@
    </div>
    <div class="text-end m-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>

<script>
    function previewImage(input) {
        const preview = document.getElementById('preview');
        const file = input.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }
</script>
