<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 5 Admin &amp; Dashboard Template">
    <meta name="author" content="Bootlab">

    <title>@ViewBag.Title - eBusiness</title>

    <link rel="canonical" href="pages-sign-in.html" />
    <link rel="shortcut icon" href="~/Admin/assets/img/favicon.ico">
    <link class="js-stylesheet" href="~/Admin/assets/css/light.css" rel="stylesheet">
</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="main d-flex justify-content-center w-100">
        <main class="content d-flex p-0">
            <div class="container d-flex flex-column">
                @RenderBody()
            </div>
        </main>
    </div>

    <script src="~/Admin/assets/js/app.js"></script>
</body>
</html>
