@model eBusiness.Areas.Admin.ViewModels.MasterFocusViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row mb-3">
    <div class="col-12">
        <div class="text-start">
            <h1 class="fw-bolder">New Focus</h1>
        </div>
    </div>
</div>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="MasterFocusId" class="form-control" type="hidden" value="0" />
    <div class="row m-0">
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusTitle" class="form-label"></label>
                <input asp-for="MasterFocusTitle" class="form-control" placeholder="Enter Title" />
                <span asp-validation-for="MasterFocusTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusBreef" class="form-label"></label>
                <input asp-for="MasterFocusBreef" class="form-control" placeholder="Enter Breef" />
                <span asp-validation-for="MasterFocusBreef" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusPercentageRateIcon1" class="form-label"></label>
                <input asp-for="MasterFocusPercentageRateIcon1" class="form-control" placeholder="Enter RateIcon" />
                <span asp-validation-for="MasterFocusPercentageRateIcon1" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusPercentageRate1" class="form-label"></label>
                <input asp-for="MasterFocusPercentageRate1" class="form-control" placeholder="Enter Rate" />
                <span asp-validation-for="MasterFocusPercentageRate1" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusPercentageRateIcon2" class="form-label"></label>
                <input asp-for="MasterFocusPercentageRateIcon2" class="form-control" placeholder="Enter RateIcon" />
                <span asp-validation-for="MasterFocusPercentageRateIcon2" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusPercentageRate2" class="form-label"></label>
                <input asp-for="MasterFocusPercentageRate2" class="form-control" placeholder="Enter Rate" />
                <span asp-validation-for="MasterFocusPercentageRate2" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusDescription" class="form-label"></label>
                <textarea asp-for="MasterFocusDescription" class="form-control" placeholder="Enter Description" rows="6"></textarea>
                <span asp-validation-for="MasterFocusDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterFocusFile" class="form-label"></label>
                <input asp-for="MasterFocusFile" type="file" class="form-control" />
                <span asp-validation-for="MasterFocusFile" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-end m-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>
