@model eBusiness.Areas.Admin.ViewModels.MasterAdvancedCapabilitiesViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row mb-3">
    <div class="col-12">
        <div class="text-start">
            <h1 class="fw-bolder">New AdvancedCapabilities</h1>
        </div>
    </div>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="MasterAdvancedCapabilitiesId" class="form-control" type="hidden" value="0" />
    <div class="row m-0">
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterAdvancedCapabilitiesTitle" class="form-label"></label>
                <input asp-for="MasterAdvancedCapabilitiesTitle" class="form-control" placeholder="Enter Title" />
                <span asp-validation-for="MasterAdvancedCapabilitiesTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterAdvancedCapabilitiesBreef" class="form-label"></label>
                <input asp-for="MasterAdvancedCapabilitiesBreef" class="form-control" placeholder="Enter Breef" />
                <span asp-validation-for="MasterAdvancedCapabilitiesBreef" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterAdvancedCapabilitiesIcon" class="form-label"></label>
                <input asp-for="MasterAdvancedCapabilitiesIcon" class="form-control" placeholder="Enter Icon" />
                <span asp-validation-for="MasterAdvancedCapabilitiesIcon" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterAdvancedCapabilitiesDescription" class="form-label"></label>
                <textarea asp-for="MasterAdvancedCapabilitiesDescription" class="form-control" rows="6" placeholder="Enter Description"></textarea>
                <span asp-validation-for="MasterAdvancedCapabilitiesDescription" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-end m-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>
